/* import original style sheet */
@import "style.css";

.cow-Print6 {
  float: right;
  left: 40%;
  width: 60%;
  position: absolute;
  top: -70px;
  overflow: hidden;
}

.cow-Print7 {
  width: 55vw;
  position: absolute;
  top: 30vh;
  left: -1vw;
}

.elfsight {
  font-family: var(--text-font);
  margin-top: 160vh;
}

.socials-Title {
  width: 42%;
  font-family: var(--header-font);
  font-size: 7vw;
  position: absolute;
  left: 55vw;
  top: 50vh;
  z-index: -1;
}

.social-Text-Container {
  z-index: 3;
  position: absolute;
  top: 32vw;
  left: 3vw;
  line-height: 1.6;
  width: 45%;
}

.social-Text {
  font-family: var(--text-font);
  font-size: 3vw;
  color: #fff;
}

.link {
  color: #fff;
}

@media screen and (max-width: 800px) {
  .cow-Print7 {
    width: 100%;
    top: 120vw;
  }

  .social-Text {
    font-size: 6vw;
  }

  .social-Text-Container {
    width: 80%;
    top: 142vw;
    line-height: 1.6;
  }

  .socials-Title {
    font-size: 20vw;
    width: 90%;
    left: 5%;
    top: 15vw;
  }

  .elfsight {
    margin: 10%;
    margin-top: 225vw;
  }

  .cow-Print6 {
    display: none;
  }

  .nav-Link {
    display: none;
  }

  .cow-Print1-Mobile {
    display: block;
  }

  .cow-Logo {
    display: none;
  }
  
}

/* MOBILE HAMBURGER NAV STYLING ---------------------- */
/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#navbar {
  width: 100%;
  background: ##6d9eeb;
}

/* (B) HORIZONTAL MENU ITEMS */
#options { display: flex; }
#options .mobile-Nav {
  flex-grow: 1;
  flex-basis: 0;
  padding: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  display: none;
  font-family: var(--text-font);
  font-size: 3vw;
}

#options .mobile-Nav:hover { 
  background: #6d9eeb; 
}

/* (C) HIDE HAMBURGER */
#navbar label, #hamburger { 
  display: none; 
}

/* ON SMALL SCREENS */
@media screen and (max-width: 768px){
  /* change to vertical*/
  #options .mobile-Nav {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #fff;
    z-index: 3;
    margins: 0vw;
    padding: 5vw;
  }
 
  #navbar label { 
    z-index: 3;
    display: inline-block; 
    color: white;
    background: #6d9eeb;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  #navbar {
    background-color: #6d9eeb;
    z-index: 3;
  }

  #options { 
    display: none; 
    z-index: 3;
    margins: 0vw;
    padding: 0vw;
  }
  
  #navbar input:checked ~ #options {
    display: block;
    z-index: 3;
  }

  label {
    z-index: 3;
  }

  .mobile-Nav-Wrap {
    z-index: 3;
  }
  
}

/* FOR MOBILE DEVICES --------------------------------------------- */
@media screen and (max-width: 600px) {
  body {
    overflow-x: none;
    width: 100%;
  }
  
  .cow-Print1 {
    display: none;
  }

  .cow-Print1-Mobile {
    width: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: -0.5vh;
  }

  .cow-Logo {
    display: none;
  }

  .nav-Link {
    display: none;
  }

  .name-Logo {
    width: 100%;
  }

  .name-Logo-Wrapper {
    width: 80%;
    left: 10%;
    top: 25%;
  }

  .cow-Print2-Mobile {
    display: inline;
    width: 100%;
    position: absolute;
    top: 75%;    
  }

}